.beers-item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  height: 220px;
  align-items: center;
  position: relative;
  padding: 15px;
  align-content: space-between;
  overflow: hidden;

  .image {
    height: 80%;
    margin-bottom: 10px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    bottom: 15px;
    display: none;

    @media screen and(max-width: 700px) {
      display: block;
      opacity: 0.9;
      min-width: unset;
      padding: 0 10px;
      bottom: 50px;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  @media screen and(max-width: 700px) {
    width: 40vw;

    &:hover {
      .image {
        opacity: unset;
      }
      .custom-button {
        opacity: unset;
      }
    }
  }

  .beers-item-footer {
    width: 95%;
    height: 5%;
    display: flex;
    font-size: 18px;

    .name {
      width: 85%;
      margin-bottom: 15px;
      @media screen and(max-width: 700px) {
        width: 70%;
      }
    }

    .price {
      width: 10%;
      padding-left: 5px;
      font-weight: bold;
    }
  }
}
