.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .crate-icon {
    height: 35px;
  }

  .item-count {
    background-color: white;
    padding: 4px;
    border-radius: 45px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: orange;
    bottom: 4px;
  }
}
