.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 5px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 10%;

    img {
      width: 30%;
    }
  }
  .name {
    width: 50%;
  }
  .quantity,
  .price {
    width: 17%;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
      color: #f2993f;
    }
    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}
