.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  @media screen and (max-width: 800px) {
    width: 90%;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .image {
      width: 10%;
    }
    .name {
      width: 50%;
      @media screen and (max-width: 800px) {
        width: 30%;
      }
    }
    .quantity,
    .price {
      width: 17%;
    }
    .remove {
      width: 8%;
      @media screen and (max-width: 800px) {
        width: 12%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 30px;

    .amount {
      margin-right: 50px;
    }
  }
}
